.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#weatherInfo {
  background-color: gainsboro;

}

#clothingOptions {
  background-color: lavender;

}
